body
{
    background-color: #aaaaaa;
    margin:0px;
    padding: 0px;
    background-image: url("../images/bg333333.png");
    background-position: top center;
    background-repeat: repeat-y;
}

#wrap
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #333333;
}
nav
{
    float:left;
}
.navigatie
{
    width: 50px;
    border-radius: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigatie li{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: #00ccff;
    transition: width 1s;
    overflow:hidden;
}

.navigatie li:hover {
    width: 160px;
}