.container{
    background-color: cornflowerblue;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto auto auto auto auto;
    grid-gap: 20px;
}


.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
}

.block.block1{
    grid-area: 1/1 /1/ 2;
}
.block.block2{
    grid-area: 1/5 /2/ 5;
}
.block.block3{
    grid-area: 2/2 /2/3;
}
.block.block4{
    grid-area: 2/4 /2/ 5;
}
.block.block5{
    grid-area: 3/3 /4/ 3;
}
.block.block6{
    grid-area: 4/2 /4/ 3;
}
.block.block7{
    grid-area: 4/4 /4/ 5;
}
.block.block8{
    grid-area: 5/1 /5/ 2;
}
.block.block9{
    grid-area: 5/5 /6/ 6;
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .block.block1{
        grid-area: 1/1 /1/ 2;
    }
    .block.block2{
        grid-area: 1/2 /2/ 3;
    }
    .block.block3{
        grid-area: 1/3 /2/4;
    }
    .block.block4{
        grid-area: 2/1 /2/ 2;
    }
    .block.block5{
        grid-area: 2/2 /2/ 3;
    }
    .block.block6{
        grid-area: 2/3 /2/ 4;
    }
    .block.block7{
        grid-area: 3/1 /3/ 2;
    }
    .block.block8{
        grid-area: 3/2 /3/ 3;
    }
    .block.block9{
        grid-area: 3/3 /3/ 4;
    }
}